.form{
    align-self: center;
    margin: 25px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.formTb{
    align-self: center;
    margin: 25px;
    display: flex;
    flex-direction: column;
    width: 800px;
}

.btn{
    width: 100px;
}

.table{
    align-self: center;
    text-align: center;
}